In [1]:
%matplotlib inline
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

# visualization
import seaborn as sns
import matplotlib.pyplot as plt

pd.set_option('float_format', '{:f}'.format)

def plotPlayer(id):
    player = id
    fig = plt.figure(figsize=(10, 6))
    ax = fig.gca()
    df[df['id'] == player][['wrating', 'age']].set_index('age').sort_index().plot(ax=ax)
    df[df['id'] == player][['rating', 'age']].set_index('age').sort_index().plot(ax=ax)
    return (df[df['id'] == player][['wrating', 'tour', 'age', 'team', 'start']].set_index('age').sort_index())

In [2]:
def load_csv(system):
    df = pd.read_csv(system + '.csv', encoding="utf-8")
    df.start = pd.to_datetime(df.start, format='%d/%m/%Y')
    df.end = pd.to_datetime(df.end, format='%d/%m/%Y')
    dob = pd.read_csv('dob.csv', encoding="utf-8")
    dob.id = dob.id.str.replace(r'\W+', '').str.lower()
    return df, dob

def cumulativeRating(diff, ratingName, df):
    cumsums = df[['id', 'start', diff]].groupby(['id', 'start']).sum().groupby(level=0).cumsum()
    df = df.set_index(['id', 'start'])
    df['cumur'] = cumsums
    df = df.reset_index()
    init = df[df['startglicko2rating'].notnull()].sort_values('start')[['startglicko2rating', 'id']].groupby('id').first().reset_index().rename(columns={'startglicko2rating': 'init'})
    df = pd.merge(df, init, how='left', on='id')
    df[ratingName] = df.cumur + df.init
    return df

def teamRating(rating, df):
    teameff = df.merge((df.groupby(['team', 'start']).mean()[rating] * 5).reset_index().rename(columns={rating: 'teamrating'}), on=['team', 'start'])
    teameff.teamrating = (teameff.teamrating - teameff[rating]) / 4
    return teameff

def experience(df):
    dfid2 = pd.DataFrame()
    for player in df.id.unique():
        dfid = pd.DataFrame(df[df['id'] == player].sort_values('start').tour.unique()).reset_index().rename(columns={'index': 'exp', 0: 'tour'})
        dfid['id'] = player
        dfid2 = pd.concat([dfid2, dfid])
    return pd.merge(df, dfid2, how='left', on=['id', 'tour'])
    
def dobMerge(df, dob):
    dob.id = dob.id.str.replace(r'\W+', '').str.lower()
    df = df.merge(dob, how='left', on=['id'])
    df.dob = pd.to_datetime(df.dob, format='%Y/%m/%d')
    df['age'] = (df.start - df.dob) / pd.Timedelta(days=365.25)
    return df

In [3]:
df = pd.read_csv('glickoandprize.csv', encoding="utf-8")
df.start = pd.to_datetime(df.start, format='%d/%m/%Y')
df.end = pd.to_datetime(df.end, format='%d/%m/%Y')
df['diffr'] = df.endglicko2rating - df.startglicko2rating
df = cumulativeRating('diffr', 'normalRating', df)
df = teamRating('normalRating', df)
df = experience(df)
#df.drop_duplicates(subset=['id', 'start'], inplace=True)
#df.dropna(inplace=True)
df.prizepool = pd.to_numeric(df.prizepool, errors='coerce')
df.prizeusd = pd.to_numeric(df.prizeusd.str.replace(r'[^0-9.]', ''), errors='coerce')

In [4]:
df['season'] = 'ti3'
df.loc[(df.start > pd.to_datetime('2013-08-02')) & (df.start <= pd.to_datetime('2014-07-08')), 'season'] = 'ti4'
df.loc[(df.start > pd.to_datetime('2014-07-08')) & (df.start <= pd.to_datetime('2015-07-27')), 'season'] = 'ti5'
df.loc[(df.start > pd.to_datetime('2015-07-27')) & (df.start <= pd.to_datetime('2016-08-02')), 'season'] = 'ti6'
df.loc[(df.start > pd.to_datetime('2016-08-02')) & (df.start <= pd.to_datetime('2017-08-02')), 'season'] = 'ti7'

df['tiprize'] = np.log(int(df[df['tour'] == 'The International 2013'].prizepool.iloc[0]))
df.loc[(df.season == 'ti4'), 'tiprize'] = np.log(int(df[df['tour'] == 'The International 2014'].prizepool.iloc[0]))
df.loc[(df.season == 'ti5'), 'tiprize'] = np.log(int(df[df['tour'] == 'The International 2015'].prizepool.iloc[0]))
df.loc[(df.season == 'ti6'), 'tiprize'] = np.log(int(df[df['tour'] == 'The International 2016'].prizepool.iloc[0]))
df.loc[(df.season == 'ti7'), 'tiprize'] = np.log(int(df[df['tour'] == 'The International 2017'].prizepool.iloc[0]))

df['wdiffr'] = (df.prizepool.apply(np.log) / df.tiprize) * df.diffr

#cumulative sum of wdiffr
cumsums = df[['id', 'start', 'wdiffr']].groupby(['id', 'start']).sum().groupby(level=0).cumsum()
df = df.set_index(['id', 'start'])
df['cumuwr'] = cumsums
df = df.reset_index()
df['perf'] = df.cumuwr + df.init

In [5]:
df.sort_values('prizeusd', ascending=False)

,id,start,Unnamed: 0,team,pos,tour,prizepool,place,prizeusd,startglicko2mu,...,cumur,init,normalRating,teamrating,exp,season,tiprize,wdiffr,cumuwr,perf
12325,matumbaman,2017-08-02,12325,teamliquid,1,The International 2017,24787916.000000,1,10862683.000000,2052.390485,...,-23.429060,1761.587692,1738.158632,1811.303475,29,ti7,17.025867,24.318035,-9.051360,1752.536331
12326,miracle,2017-08-02,12326,teamliquid,2,The International 2017,24787916.000000,1,10862683.000000,2052.390485,...,17.060982,1770.054962,1787.115944,1799.064147,26,ti7,17.025867,24.318035,23.564653,1793.619615
12327,mind_control,2017-08-02,12327,teamliquid,3,The International 2017,24787916.000000,1,10862683.000000,2052.390485,...,-23.429060,1761.587692,1738.158632,1811.303475,27,ti7,17.025867,24.318035,-9.051360,1752.536331
12328,gh,2017-08-02,12328,teamliquid,4,The International 2017,24787916.000000,1,10862683.000000,2052.390485,...,6.023241,1817.333923,1823.357164,1790.003842,10,ti7,17.025867,24.318035,12.473405,1829.807329
12329,kuroky,2017-08-02,12329,teamliquid,5,The International 2017,24787916.000000,1,10862683.000000,2052.390485,...,368.269757,1528.312404,1896.582162,1771.697593,79,ti7,17.025867,24.318035,220.411947,1748.724352
10069,iceice,2016-08-02,10069,thewingsgaming,5,The International 2016,20770460.000000,1,9139002.000000,1937.206705,...,316.573600,1540.350904,1856.924504,1858.353907,11,ti6,16.849042,18.207742,216.993784,1757.344688
10068,y,2016-08-02,10068,thewingsgaming,4,The International 2016,20770460.000000,1,9139002.000000,1937.206705,...,316.573600,1540.350904,1856.924504,1858.353907,14,ti6,16.849042,18.207742,216.993784,1757.344688
10066,blink,2016-08-02,10066,thewingsgaming,2,The International 2016,20770460.000000,1,9139002.000000,1937.206705,...,316.573600,1540.350904,1856.924504,1858.353907,15,ti6,16.849042,18.207742,216.993784,1757.344688
10065,shadow haslink,2016-08-02,10065,thewingsgaming,1,The International 2016,20770460.000000,1,9139002.000000,1937.206705,...,316.573600,1540.350904,1856.924504,1858.353907,11,ti6,16.849042,18.207742,216.993784,1757.344688
10067,faith_bian,2016-08-02,10067,thewingsgaming,3,The International 2016,20770460.000000,1,9139002.000000,1937.206705,...,322.291212,1540.350904,1862.642116,1856.924504,11,ti6,16.849042,18.207742,221.407076,1761.757979
7716,sumail,2015-07-27,7716,evilgeniuses,2,The International 2015,18429613.000000,1,6634661.000000,1975.903419,...,74.205798,1805.908955,1880.114753,2099.557150,6,ti5,16.729469,8.274674,59.612459,1865.521414
7717,universe,2015-07-27,7717,evilgeniuses,3,The International 2015,18429613.000000,1,6634661.000000,1975.903419,...,628.436119,1610.270798,2238.706916,2009.909109,44,ti5,16.729469,8.274674,448.550620,2058.821417
7719,ppd,2015-07-27,7719,evilgeniuses,5,The International 2015,18429613.000000,1,6634661.000000,1975.903419,...,651.606150,1606.889797,2258.495947,2004.961852,28,ti5,16.729469,8.274674,474.485671,2081.375468
7718,aui_2000,2015-07-27,7718,evilgeniuses,4,The International 2015,18429613.000000,1,6634661.000000,1975.903419,...,730.258667,1475.060351,2205.319019,2018.256084,50,ti5,16.729469,8.274674,490.638624,1965.698975
7715,fear,2015-07-27,7715,evilgeniuses,1,The International 2015,18429613.000000,1,6634661.000000,1975.903419,...,101.530850,1594.175869,1695.706719,2145.659159,37,ti5,16.729469,8.274674,75.687866,1669.863735
5250,hao,2014-07-08,5250,newbee,1,The International 2014,10923977.000000,1,5025029.000000,1923.328961,...,150.571571,1677.674585,1828.246156,1884.339029,24,ti4,16.206471,31.433798,111.576736,1789.251321
5254,sansheng,2014-07-08,5254,newbee,5,The International 2014,10923977.000000,1,5025029.000000,1923.328961,...,57.340011,1810.611389,1867.951400,1874.412718,19,ti4,16.206471,31.433798,48.011663,1858.623051
5253,banana,2014-07-08,5253,newbee,4,The International 2014,10923977.000000,1,5025029.000000,1923.328961,...,150.571571,1677.674585,1828.246156,1884.339029,21,ti4,16.206471,31.433798,111.576736,1789.251321
5252,xiao8,2014-07-08,5252,newbee,3,The International 2014,10923977.000000,1,5025029.000000,1923.328961,...,451.565310,1621.657966,2073.223277,1823.094749,25,ti4,16.206471,31.433798,354.578456,1976.236422
5251,mu,2014-07-08,5251,newbee,2,The International 2014,10923977.000000,1,5025029.000000,1923.328961,...,87.915511,1680.019774,1767.935284,1899.416747,24,ti4,16.206471,31.433798,65.308333,1745.328107
12337,kpii,2017-08-02,12337,newbee,3,The International 2017,24787916.000000,2,3950067.000000,1983.899888,...,313.485249,1712.213581,2025.698830,1940.722957,25,ti7,17.025867,6.174281,199.347013,1911.560594
12338,kaka,2017-08-02,12338,newbee,4,The International 2017,24787916.000000,2,3950067.000000,1983.899888,...,472.043401,1520.716108,1992.759509,1948.957788,52,ti7,17.025867,6.174281,306.402013,1827.118121
12339,faith,2017-08-02,12339,newbee,5,The International 2017,24787916.000000,2,3950067.000000,1983.899888,...,798.319394,1628.237599,2426.556993,1840.508416,75,ti7,17.025867,6.174281,514.396676,2142.634274
12336,sccc,2017-08-02,12336,newbee,2,The International 2017,24787916.000000,2,3950067.000000,1983.899888,...,195.000827,1583.593045,1778.593872,2002.499197,31,ti7,17.025867,6.174281,138.753172,1722.346217
12335,moogy,2017-08-02,12335,newbee,1,The International 2017,24787916.000000,2,3950067.000000,1983.899888,...,187.113218,1377.868237,1564.981455,2055.902301,42,ti7,17.025867,6.174281,124.692104,1502.560341
10079,misery,2016-08-02,10079,digitalchaos,5,The International 2016,20770460.000000,2,3427126.000000,1914.981871,...,272.003183,1525.823797,1797.826981,1786.328882,40,ti6,16.849042,18.385146,174.084686,1699.908483
10077,moo,2016-08-02,10077,digitalchaos,3,The International 2016,20770460.000000,2,3427126.000000,1914.981871,...,39.770601,1578.780007,1618.550608,1831.147975,7,ti6,16.849042,18.385146,34.041042,1612.821049
10076,w33,2016-08-02,10076,digitalchaos,2,The International 2016,20770460.000000,2,3427126.000000,1914.981871,...,40.149023,1898.778787,1938.927810,1751.053675,20,ti6,16.849042,18.385146,34.281992,1933.060779
10075,resolut1on,2016-08-02,10075,digitalchaos,1,The International 2016,20770460.000000,2,3427126.000000,1914.981871,...,287.459717,1576.987822,1864.447539,1769.673742,50,ti6,16.849042,18.385146,198.905701,1775.893523
10078,saksa,2016-08-02,10078,digitalchaos,4,The International 2016,20770460.000000,2,3427126.000000,1914.981871,...,38.915050,1684.474520,1723.389570,1804.938234,10,ti6,16.849042,18.385146,34.066917,1718.541437
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014,sexybamboe,2013-06-28,2014,evilgeniuses,4,Corsair Gaming Summer Tournament 2013,10000.000000,5-6,0.000000,1743.791868,...,110.930576,1528.312404,1639.242981,1684.047056,15,ti3,14.871348,-4.805950,72.864132,1601.176537
2015,bdiz,2013-06-28,2015,evilgeniuses,5,Corsair Gaming Summer Tournament 2013,10000.000000,5-6,0.000000,1743.791868,...,89.871187,1594.175869,1684.047056,1672.846037,13,ti3,14.871348,-4.805950,57.268308,1651.444177
2016,ryze,2013-06-28,2016,flipsid3tactics,1,Corsair Gaming Summer Tournament 2013,10000.000000,0.00,0.000000,nan,...,nan,1670.454732,nan,nan,13,ti3,14.871348,nan,nan,nan
6861,afoninje,2015-02-23,6861,hellraisers,2,Dota 2 Champions League Season 5,79504.000000,0.00,0.000000,nan,...,nan,1588.734632,nan,nan,6,ti5,16.729469,nan,nan,nan
6863,gorec,2015-02-23,6863,hellraisers,4,Dota 2 Champions League Season 5,79504.000000,0.00,0.000000,nan,...,nan,1596.252902,nan,nan,6,ti5,16.729469,nan,nan,nan
6897,icy,2015-02-23,6897,hypergloryteam,3,Dota 2 Champions League Season 5,79504.000000,0.00,0.000000,1754.536880,...,172.317563,1717.727584,1890.045147,1731.493028,15,ti5,16.729469,27.224209,117.179559,1834.907143
6881,mu,2015-02-23,6881,newbee,2,Dota 2 Champions League Season 5,79504.000000,0.00,0.000000,1863.270879,...,48.029867,1680.019774,1728.049640,1665.979662,34,ti5,16.729469,-9.947667,36.682279,1716.702053
6896,air,2015-02-23,6896,hypergloryteam,2,Dota 2 Champions League Season 5,79504.000000,0.00,0.000000,1754.536880,...,130.606098,1609.935905,1740.542002,1768.868815,21,ti5,16.729469,27.224209,87.338716,1697.274621
6895,zsmj,2015-02-23,6895,hypergloryteam,1,Dota 2 Champions League Season 5,79504.000000,0.00,0.000000,1754.536880,...,185.994722,1520.716108,1706.710830,1777.326608,23,ti5,16.729469,27.224209,125.873168,1646.589276
6894,mmy,2015-02-23,6894,lgdgaming,5,Dota 2 Champions League Season 5,79504.000000,0.00,0.000000,1867.466982,...,266.501054,1826.685445,2093.186500,2135.718844,36,ti5,16.729469,34.296610,173.906999,2000.592444
6893,xiao8,2015-02-23,6893,lgdgaming,4,Dota 2 Champions League Season 5,79504.000000,0.00,0.000000,1867.466982,...,502.414860,1621.657966,2124.072827,2127.997262,29,ti5,16.729469,34.296610,388.875066,2010.533032
6892,yao,2015-02-23,6892,lgdgaming,3,Dota 2 Champions League Season 5,79504.000000,0.00,0.000000,1867.466982,...,501.514412,1621.657966,2123.172379,2128.222374,35,ti5,16.729469,34.296610,389.405560,2011.063526
6891,maybe,2015-02-23,6891,lgdgaming,2,Dota 2 Champions League Season 5,79504.000000,0.00,0.000000,1867.466982,...,178.794548,1751.054966,1929.849513,2176.553090,13,ti5,16.729469,34.296610,112.007910,1863.062876
6890,sylar,2015-02-23,6890,lgdgaming,1,Dota 2 Champions League Season 5,79504.000000,0.00,0.000000,1867.466982,...,744.122690,1621.657966,2365.780656,2067.570305,36,ti5,16.729469,34.296610,529.466290,2151.124256
6884,banana,2015-02-23,6884,newbee,5,Dota 2 Champions League Season 5,79504.000000,0.00,0.000000,1863.270879,...,110.685927,1677.674585,1788.360512,1650.901944,30,ti5,16.729469,-9.947667,82.950682,1760.625267
6883,sansheng,2015-02-23,6883,newbee,4,Dota 2 Champions League Season 5,79504.000000,0.00,0.000000,1863.270879,...,17.454367,1810.611389,1828.065756,1640.975633,29,ti5,16.729469,-9.947667,19.385609,1829.996997
6882,june,2015-02-23,6882,newbee,3,Dota 2 Champions League Season 5,79504.000000,0.00,0.000000,1863.270879,...,-5.061883,1490.783178,1485.721295,1726.561748,17,ti5,16.729469,-9.947667,-4.319858,1486.463320
6880,rabbit,2015-02-23,6880,newbee,1,Dota 2 Champions League Season 5,79504.000000,0.00,0.000000,1863.270879,...,-126.646951,1688.418035,1561.771085,1707.549301,30,ti5,16.729469,-9.947667,-66.584663,1621.833372
6864,goddam,2015-02-23,6864,hellraisers,5,Dota 2 Champions League Season 5,79504.000000,0.00,0.000000,nan,...,nan,1644.001456,nan,nan,5,ti5,16.729469,nan,nan,nan
6879,ddc,2015-02-23,6879,ehome,5,Dota 2 Champions League Season 5,79504.000000,0.00,0.000000,1800.326513,...,346.639508,1621.657966,1968.297474,1845.374132,31,ti5,16.729469,38.534372,288.643929,1910.301895
6878,lanm,2015-02-23,6878,ehome,4,Dota 2 Champions League Season 5,79504.000000,0.00,0.000000,1800.326513,...,69.630278,1826.685445,1896.315724,1863.369569,26,ti5,16.729469,38.534372,46.313555,1872.999000
6877,rotk,2015-02-23,6877,ehome,3,Dota 2 Champions League Season 5,79504.000000,0.00,0.000000,1800.326513,...,411.333984,1597.583520,2008.917504,1835.219124,31,ti5,16.729469,38.534372,296.136392,1893.719912
6876,cty,2015-02-23,6876,ehome,2,Dota 2 Champions League Season 5,79504.000000,0.00,0.000000,1800.326513,...,57.132629,1648.979106,1706.111735,1910.920566,9,ti5,16.729469,38.534372,38.534372,1687.513478
6875,end,2015-02-23,6875,ehome,1,Dota 2 Champions League Season 5,79504.000000,0.00,0.000000,1800.326513,...,99.128500,1671.023064,1770.151564,1894.910609,8,ti5,16.729469,38.534372,65.366185,1736.389249
6874,faith,2015-02-23,6874,invictusgaming,5,Dota 2 Champions League Season 5,79504.000000,0.00,0.000000,1861.882420,...,608.732420,1628.237599,2236.970019,1813.368245,38,ti5,16.729469,45.427280,385.400475,2013.638074
6873,chuan,2015-02-23,6873,invictusgaming,4,Dota 2 Champions League Season 5,79504.000000,0.00,0.000000,1861.882420,...,298.981327,1628.237599,1927.218925,1890.806019,28,ti5,16.729469,45.427280,177.991997,1806.229596
6872,june,2015-02-23,6872,invictusgaming,3,Dota 2 Champions League Season 5,79504.000000,0.00,0.000000,1861.882420,...,-5.061883,1490.783178,1485.721295,2001.180426,17,ti5,16.729469,45.427280,-4.319858,1486.463320
6871,ferrari_430,2015-02-23,6871,invictusgaming,2,Dota 2 Champions League Season 5,79504.000000,0.00,0.000000,1861.882420,...,305.759732,1628.237599,1933.997331,1889.111417,32,ti5,16.729469,45.427280,193.404972,1821.642571
6870,burning,2015-02-23,6870,invictusgaming,1,Dota 2 Champions League Season 5,79504.000000,0.00,0.000000,1861.882420,...,79.849984,1826.685445,1906.535430,1895.976893,28,ti5,16.729469,45.427280,53.206463,1879.891908
7512,le,2015-05-09,7522,energypacemaker,3,G-League 2015,43497.000000,5-8,0.000000,nan,...,nan,1583.593045,nan,nan,7,ti5,16.729469,nan,nan,nan

In [6]:
grouped = df.groupby(['team', 'tour'])

In [7]:
pf = pd.DataFrame(columns=['season', 'tour', 'start', 'team', 'prizepool', 'prizeusd', 'perf1', 'perf2', 'perf3', 'perf4', 'perf5'])
for name, group in grouped:
    try:
        perf1 = group[group.pos == 1].perf.iloc[0]
    except:
        perf1 = np.nan
    try:
        perf2 = group[group.pos == 2].perf.iloc[0]
    except:
        perf2 = np.nan
    try:
        perf3 = group[group.pos == 3].perf.iloc[0]
    except:
        perf3 = np.nan
    try:
        perf4 = group[group.pos == 4].perf.iloc[0]
    except:
        perf4 = np.nan
    try:
        perf5 = group[group.pos == 5].perf.iloc[0]
    except:
        perf5 = np.nan
    pf = pf.append({'season': group.season.iloc[0],
                    'tour': name[1],
                    'start': group.start.iloc[0],
                    'team': name[0],
                    'prizepool': group.prizepool.iloc[0],
                    'prizeusd': group.prizeusd.iloc[0],
                    'perf1': perf1,
                    'perf2': perf2,
                    'perf3': perf3,
                    'perf4': perf4,
                    'perf5': perf5 
                   }, ignore_index=True)
    
pf.prizepool = pd.to_numeric(pf.prizepool)
pf.prizeusd = pd.to_numeric(pf.prizeusd)
pf.perf1 = pd.to_numeric(pf.perf1)
pf.perf2 = pd.to_numeric(pf.perf2)
pf.perf3 = pd.to_numeric(pf.perf3)
pf.perf4 = pd.to_numeric(pf.perf4)
pf.perf5 = pd.to_numeric(pf.perf5)

In [8]:
pf.dtypes

season               object
tour                 object
start        datetime64[ns]
team                 object
prizepool           float64
prizeusd            float64
perf1               float64
perf2               float64
perf3               float64
perf4               float64
perf5               float64
dtype: object

In [9]:
len(pf)

2445

In [10]:
nt = pf.groupby('team').size().reset_index()
pf = pf[pf['team'].isin(nt[nt[0] > 5].team.unique())]

In [11]:
len(pf)

1745

In [12]:
pf = pf.dropna()
pf.prizeusd = pd.to_numeric(pf.prizeusd)
pf = pf.drop_duplicates(['team', 'start'])

In [13]:
len(pf)

1254

In [14]:
ent = pd.DataFrame(pf.team.unique()).reset_index().rename(columns={'index': 'entity', 0: 'team'})
pf = ent.merge(pf, on='team', how='left')
pf.head()

,entity,team,season,tour,start,prizepool,prizeusd,perf1,perf2,perf3,perf4,perf5
0,0,4friendschrillee,ti3,Corsair Gaming Summer Tournament 2013,2013-06-28,10000.000000,0.000000,1431.514235,1415.703233,1391.409425,1391.409425,1391.409425
1,0,4friendschrillee,ti3,DreamHack Summer 2013,2013-06-15,46422.000000,0.000000,1427.237319,1427.237319,1427.237319,1427.237319,1427.237319
2,0,4friendschrillee,ti4,Electronic Sports World Cup 2013,2013-10-31,25000.000000,0.000000,1449.456046,1439.095493,1449.456046,1449.456046,1479.450199
3,0,4friendschrillee,ti5,Esportal Dota 2 League Invitational Tournament 1,2014-12-10,18691.472328,623.000000,1426.782769,1481.501966,1426.782769,1497.320470,1497.320470
4,0,4friendschrillee,ti4,Fragbite Masters 2013,2013-10-21,30410.000000,836.280000,1451.336206,1451.336206,1481.602710,1451.336206,1481.602710

In [15]:
pf.describe()

,entity,prizepool,prizeusd,perf1,perf2,perf3,perf4,perf5
count,1254.000000,1254.000000,1254.000000,1254.000000,1254.000000,1254.000000,1254.000000,1254.000000
mean,27.703349,1293607.450134,99789.894425,1760.565731,1762.212696,1739.883454,1737.608332,1751.539222
std,16.479731,4247210.905929,529741.479802,184.889923,181.504048,163.979391,175.695226,182.350634
min,0.000000,4410.000000,0.000000,1354.909799,1281.650952,1250.132951,1210.722728,1285.740555
25%,13.000000,35000.000000,0.092500,1638.495458,1654.557850,1634.270983,1621.749307,1625.185023
50%,27.000000,100000.000000,7684.000000,1735.820183,1741.042451,1720.262637,1721.240550,1726.662200
75%,42.000000,271685.000000,34703.250000,1862.638544,1855.698253,1842.049127,1838.889722,1868.566176
max,57.000000,24787916.000000,10862683.000000,2275.504433,2302.498188,2189.346079,2221.721176,2197.749410

In [33]:
np.divide(1000, 100)

10.0

In [ ]:
from linearmodels import PanelOLS 
panel_data = pf.set_index(['entity', 'start']).sort_index()
panel_data['const'] = 1
Y = np.add(1, panel_data['prizeusd']).apply(np.log)
X = panel_data[['perf1', 'perf2', 'perf3', 'perf4', 'perf5']].apply(np.log)
mod = PanelOLS(Y, X, entity_effects=True, time_effects=True)
res = mod.fit()
res.summary

In [39]:
from linearmodels import PanelOLS 
panel_data = pf.set_index(['entity', 'start']).sort_index()
panel_data['const'] = 1
Y = np.add(1, panel_data['prizeusd']).apply(np.log)
X = np.divide(panel_data[['perf1', 'perf2', 'perf3', 'perf4', 'perf5']], 250).apply(np.log)
mod = PanelOLS(Y, X, entity_effects=True, time_effects=True)
res = mod.fit()
res.summary

<class 'linearmodels.compat.statsmodels.Summary'>
"""
                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:               prizeusd   R-squared:                        0.0817
Estimator:                   PanelOLS   R-squared (Between):             -15.255
No. Observations:                1254   R-squared (Within):               0.0680
Date:                Mon, Mar 26 2018   R-squared (Overall):             -8.5977
Time:                        12:08:04   Log-likelihood                   -3083.7
Cov. Estimator:            Unadjusted
                                        F-statistic:                      17.400
Entities:                          58   P-value                           0.0000
Avg Obs:                       21.621   Distribution:                   F(5,978)
Min Obs:                       1.0000
Max Obs:                       77.000   F-statistic (robust):             17.400
                                        P-value                           0.0000
Time periods:                     214   Distribution:                   F(5,978)
Avg Obs:                       5.8598
Min Obs:                       1.0000
Max Obs:                       17.000

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
perf1          0.9528     1.4853     0.6415     0.5213     -1.9619      3.8676
perf2          4.5781     1.7212     2.6598     0.0079      1.2004      7.9557
perf3          3.9173     1.7584     2.2277     0.0261      0.4665      7.3680
perf4          4.6297     1.7210     2.6902     0.0073      1.2525      8.0069
perf5          3.3586     1.5645     2.1468     0.0321      0.2885      6.4287
==============================================================================

F-test for Poolability: 4.4981
P-value: 0.0000
Distribution: F(270,978)

Included effects: Entity, Time
"""